:root{
--text-black-cl:#212121;
--text-white-cl:#FFFFFF;
--bt-nav-cl: #2196F3;
--paragraf-color: #757575;
--font-roboto:'Roboto';

}
body
{font-family: 'Roboto',
sans-serif;
font-family: 'Raleway',
sans-serif;
color: #212121;
background-color:#FFFFFF;}
/*nav*/
.header-link:hover,
.header-link:focus,
.header-link-contact:hover,
.header-link-contact:focus,
.footer-link-contact:hover,
.footer-link-contact:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--bt-nav-cl);
}
/*header*/

.header-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color:#000000}
.logo-cl{color: #2196F3 }

.header-link,
.header-link-contact{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14 ;
    letter-spacing: 0.02em;
    color: var(--black-cl);
}
.header-link-contact{
    color:#757575;
}

/*СЕКЦИЯ ГЕРОЙ*/
.hero {
    background-color: #2F303A;
}
.hero-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--text-white-cl);}

.hero-bt{
background-color: #2196F3;
cursor: pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--text-white-cl);

}
.hero-bt:hover,
.hero-bt:focus{
background: #188CE8;


}

/*особенности*/
.peculiarities-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-black-cl);
}
.peculiarities-text{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
/*публикация работ*/
.work-title,
.team-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black-cl)
}
/*команда*/
.team{
    background-color: #F5F4FA;
}
.team-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-black-cl);
}
.team-text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
}
/*footer*/
.footer{
    background-color:#2F303A;
}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#FFFFFF;
}
.logo-cl{
    color: #2196F3;
}
.footer-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.footer-link-contact{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/*портфолио*/
.servise-bt{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--text-black-cl);
    cursor: pointer;
}
.servise-bt:hover, 
.servise-bt:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
background: #2196F3;
}
/*портфолио*/

.projects-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-black-cl)
}
.projects-text{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: var(--paragraf-color);
}