:root{
--font-roboto:'Roboto',sans-serif;
--text-black-cl:#212121;
--text-white-cl:#FFFFFF;
--bt-nav-cl: #2196F3;
--paragraf-color: #757575;
--background-cl-body: #FFFFFF;
--logo-cl:#2196F3;
--logo-secondary-cl:#000000;
--hero-background-cl: #2F303A;
--bt-cl: #2196F3;
--bt-cl-secondary:#188CE8;
--team-background-cl:#F5F4FA;
--footer-link-cl: rgba(255, 255, 255, 0.6);

}
body
{font-family:'Roboto', sans-serif;
color: var(--text-black-cl);
background-color: var(--background-cl-body);
font-size: 14px;
letter-spacing: 0.03em;
}
.list {
    list-style: none;
}
.link{
 text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
address{ font-style: normal;}



/*nav*/
.header-link:hover,
.header-link:focus,
.header-link-contact:hover,
.header-link-contact:focus,
.footer-link-contact:hover,
.footer-link-contact:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--bt-nav-cl);
}

/*header*/

.header-logo{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-secondary-cl)}

.logo-cl{color: var(--logo-cl) }

.header-link,
.header-link-contact{
    font-weight: 500;
    line-height: 1.14 ;
    letter-spacing: 0.02em;
    color: var(--black-cl);
}
.header-link-contact{
    color: var(--paragraf-color);
}
.accent{
    color: var(--bt-nav-cl);
}

/*СЕКЦИЯ ГЕРОЙ*/
.hero {
    background-color: var(--hero-background-cl);
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--text-white-cl);}

.hero-bt{
background-color: var(--bt-cl);
cursor: pointer;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--text-white-cl);

}
.hero-bt:hover,
.hero-bt:focus{
background: var(--bt-cl-secondary); 
}

/*особенности*/
.peculiarities-name{
font-size: 14px;
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
color: var(--text-black-cl);
}
.peculiarities-text{
line-height: 1.17;
color: var(--paragraf-color);
}
/*публикация работ*/
.work-title,
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--text-black-cl)
}
/*команда*/
.team{
    background-color: var(--team-background-cl);
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--text-black-cl);
}
.team-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--paragraf-color);
}
/*footer*/
.footer{
    background-color: var(--hero-background-cl);
}
.footer-logo{
font-family:'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--background-cl-body);
}
.logo-cl{
    color: var(--logo-cl);
}
.footer-link{
font-style: normal;
font-weight: 400;
line-height: 1.71;
color: var(--background-cl-body);
}
.footer-link-contact{
font-style: normal;
font-weight: 400;
line-height: 1.71;
color: var(--footer-link-cl);
}
/*портфолио*/
.servise-bt{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background: var(--team-background-cl);
    border-radius: 4px;
    color: var(--text-black-cl);
    cursor: pointer;
}
.servise-bt:hover, 
.servise-bt:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
color: var(--background-cl-body);
background: var(--bt-cl);
}
/*портфолио*/

.projects-title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--text-black-cl)
}
.projects-text{
font-style: normal;
font-size: 16px;
line-height: 1.87;
color: var(--paragraf-color);
}